// Imported Stylesheets
@import 'bootstrap.min.css'
@import 'bootstrap-theme.min.css'
@import '../fonts/typography.css'
@import 'gradients.css'
@import 'customize.styl'
@import 'nib/vendor'

vendor-prefixes = webkit moz o ms official

// Color Variables
white = #ffffff
black = #0a0a16
gray = #7c7c7c
blue = #425da2
green = #83b744
orange = #f35c34

txtColor = #1b1f29
titleColor = #3e4452
subtitleColor = #425da2

lightGray = #dfdee3
lightBlue = #5b76bc
lightGreen = #a4cb74
lightOrange = #f79074

darkGray = #2c2c2c
darkBlue = #293a66
darkGreen = #608532
darkOrange = #d6370d

// Font Variables 
copyTxt = 'ralewayregular', Arial, Helvetica, sans-serif
title = 'ralewayheavy', Arial, Helvetica, sans-serif
subtitle = 'ralewaymedium', Arial, Helvetica, sans-serif
buttonsFont = 'ralewaybold', Arial, Helvetica, sans-serif

// -------------- Theme Styles -------------- //

// General Styles
html
	font-size 16px
	max-width 100%

body
	background white
	color txtGray
	font-family copyTxt
	font-size 62.5% /* 1em = 10px */
	max-width 100%

.hidden-seo
	height 0
	left -9999px
	position absolute
	top -9999px
	width 0

.container
	font-size 2em

.color1
	background gray

.color2 
	background lightGray

.color3
	background darkGray

// Layout Styling


// Media Queries			
// @media screen and (max-width:480px)

// @media screen and (max-width:567px)

// @media screen and (max-width:767px)

// @media screen and (max-width:992px)

// @media screen and (max-width:1200px)

// @media screen and (min-width:993px) and (max-width:1200px)

// @media screen and (min-width:1201px)

